//module.exports = 
{
    //extends: ['semistandard'],
    //extends: 'eslint:recommended',

    "extends": ["react-app", "react-app/jest"],
    "rules": {
        "semi": ["error", "always"],
        "indent": ["error", "tab"],
        "quotes": ["error", "single"],
        //"jsx-quotes": ["error", "prefer-double"],
        "jsx-quotes": ["error", "prefer-single"],
        //"no-tabs": 0,
        "max-len": ["error", { "code": 120}], //, "tabWidth": 4 
        "no-console": "warn",
        "prefer-const": "error",
        "comma-dangle": ["error", "always-multiline"],
        "import/order": ["error", {
            "groups": ["builtin", "external", "internal", 
            "parent", "sibling", "index", "object", "type"],
            "newlines-between": "always-and-inside-groups"
        }]
    }
}
